<div class="logo-wrapper">
  <app-logo></app-logo>
</div>

<mat-divider></mat-divider>
<section>
  <div matRipple class="flex-row aic view-selection-button">
    <mat-icon>calendar_view_day</mat-icon>
    <span>Day</span>
  </div>
  <div matRipple class="flex-row aic view-selection-button">
    <mat-icon>calendar_view_week</mat-icon>
    <span>Week</span>
  </div>
  <div
    matRipple
    class="flex-row aic view-selection-button"
    style="margin-bottom: 10px"
  >
    <mat-icon>calendar_view_month</mat-icon>
    <span>month</span>
  </div>
</section>

<mat-divider></mat-divider>

<section class="flex-row aic profile-wrapper">
  <img src="assets/images/me.png" alt="profile-image" class="profile-image" />
  <span>Christian Kätkä</span>
</section>
